
--extra-index-url https://download.pytorch.org/whl/cu128

runpod

numpy
scipy
pandas
moviepy==1.0.3
ffmpeg-python
tqdm

whisperx==3.4.2
speechbrain==1.0.3
pyannote.audio

openai

python-dotenv
scikit-learn
requests
huggingface-hub==0.34.3
transformers

